version: '3.8'

networks:
  monitoring:
    driver: bridge

services:
  prometheus:
    image: ${PROMETHEUS_IMAGE:-prom/prometheus:v3.5.0}
    container_name: prometheus
    pull_policy: always
    networks:
      - monitoring
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'
    # expose to host
    ports:
      - "${PROMETHEUS_PORT:-9090}:9090"

  grafana:
    image: ${GRAFANA_IMAGE:-grafana/grafana:12.0.2}
    container_name: grafana
    pull_policy: always
    # useful but not mandatory; you can drop it or keep defaults in .env
    user: "${UID:-1001}:${GID:-1001}"
    # Create grafana/grafana-storage with the correct permissions before running this
    volumes:
      - ./grafana/grafana-storage:/var/lib/grafana
    networks:
      - monitoring
    ports:
      - "${GRAFANA_PORT:-3000}:3000"

  pyjoules-metrics-client-simple:
    image: ${CLIENT_SIMPLE_IMAGE:-aimilefth/pyjoules-metrics-client-simple}
    pull_policy: always
    # Use this if wanting to build all the time
    # build:
    #   context: ./pyjoules-metrics-client-simple
    container_name: pyjoules-metrics-client-simple
    privileged: true
    networks:
      - monitoring
    environment:
      # make exporter listen on the same port we publish
      - EXPORTER_PORT=${CLIENT_SIMPLE_EXPORTER_PORT:-9091}
      - SCRAPE_INTERVAL_SECONDS=${CLIENT_SIMPLE_SCRAPE_INTERVAL_SECONDS:-0.1}
    ports:
      - "${CLIENT_SIMPLE_EXPORTER_PORT:-9091}:${CLIENT_SIMPLE_EXPORTER_PORT:-9091}"

  pyjoules-metrics-client-remote-write:
    image: ${CLIENT_REMOTE_WRITE_IMAGE:-aimilefth/pyjoules-metrics-client-remote-write}
    pull_policy: always
    # Use this if wanting to build all the time
    # build:
    #   context: ./pyjoules-metrics-client-simple
    container_name: pyjoules-metrics-client-remote-write
    privileged: true
    networks:
      - monitoring
    environment:
      # talk to prometheus over the docker network, not localhost
      - REMOTE_WRITE_URL=${CLIENT_REMOTE_WRITE_URL:-http://prometheus:9090/api/v1/write}
      - SAMPLING_PERIOD_S=${CLIENT_REMOTE_WRITE_SAMPLING_PERIOD_S:-0.1}
      - BATCH_SIZE=${CLIENT_REMOTE_WRITE_BATCH_SIZE:-100}

  pyjoules-metrics-client-multirate:
    image: ${CLIENT_MULTIRATE_IMAGE:-aimilefth/pyjoules-metrics-client-multirate}
    pull_policy: always
    # # Use this if wanting to build all the time
    # build:
    #   context: ./pyjoules-metrics-client-multirate
    container_name: pyjoules-metrics-client-multirate
    privileged: true
    networks:
      - monitoring
    environment:
      - EXPORTER_PORT=${CLIENT_MULTIRATE_EXPORTER_PORT:-9092}
      - SCRAPE_INTERVAL_SECONDS=${CLIENT_MULTIRATE_SCRAPE_INTERVAL_SECONDS:-0.1}
      - MAX_QUEUE_LEN=${CLIENT_MULTIRATE_MAX_QUEUE_LEN:-1000}
    ports:
      - "${CLIENT_MULTIRATE_EXPORTER_PORT:-9092}:${CLIENT_MULTIRATE_EXPORTER_PORT:-9092}"
