version: '3.8'

networks:
  monitoring:
    driver: bridge

services:
  prometheus:
    image: ${PROMETHEUS_IMAGE:-prom/prometheus:v3.5.0}
    container_name: prometheus
    networks:
      - monitoring
    volumes:
      - ./prometheus/entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/entrypoint.sh"]
    environment:
      - PROMETHEUS_SCRAPE_INTERVAL=${PROMETHEUS_SCRAPE_INTERVAL:-2}
      - PROMETHEUS_EVALUATE_INTERVAL=${PROMETHEUS_EVALUATE_INTERVAL:-1}
      - PROMETHEUS_PORT=${PROMETHEUS_PORT:-9090}
    ports:
      - "${PROMETHEUS_PORT:-9090}:9090"

  grafana:
    image: ${GRAFANA_IMAGE:-grafana/grafana:12.0.2}
    container_name: grafana
    pull_policy: always
    user: "${UID:-1001}:${GID:-1001}"
    networks:
      - monitoring
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards

  cpu-pyjoules:
    image: aimilefth/cpu-pyjoules
    pull_policy: always
    # Use this if wanting to build all the time
    # build:
    #   context: ./cpu-pyjoules
    container_name: cpu-pyjoules
    volumes:
      - /sys/class/powercap:/sys/class/powercap:ro
      - /sys/devices/virtual/powercap:/sys/devices/virtual/powercap:ro
    security_opt:
      - apparmor=docker-pyjoules
      - systempaths=unconfined
    networks:
      - monitoring
    environment:
      - REMOTE_WRITE_URL=${CLIENT_CPU_PYJOULES_URL:-http://prometheus:9090/api/v1/write}
      - SCRAPE_INTERVAL_S=${CLIENT_CPU_PYJOULES_SCRAPE_INTERVAL_S:-0.1}
      - PUSH_INTERVAL_S=${CLIENT_CPU_PYJOULES_PUSH_INTERVAL_S:-4}
      - MAX_RETRY_BATCHES=${CLIENT_CPU_PYJOULES_MAX_RETRY_BATCHES:-5}
      - SERVICE_LABEL=cpu-pyjoules
      - LOG_LEVEL=${CLIENT_CPU_PYJOULES_LOG_LEVEL:-INFO}